
<div id="googleMap" style="width:50%;height:50%;"></div>

<%= form_for @user, url: {action: "create"} do |f| %>
<%= f.text_field :username %>
<%= f.password_field :password %>
<%= f.hidden_field :lat %>
<%= f.hidden_field :long %>
<%= f.submit %>
<% end %>





<%= form_for @user, url: {action: "login"} do |f| %>
<%= f.text_field :username %>
<%= f.password_field :password %>
<%= f.hidden_field :lat %>
<%= f.hidden_field :long %>
<%= f.submit "log in" %>
<% end %>

<%= session[:user_id] %>